<h4>みんなのペット図鑑</h4>
<h5>編集ページ</h5>
<%= form_with model:@pet, local:true do |f| %>

<%= attachment_image_tag @pet, :pet_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<%= f.attachment_field :pet_image %>

<label for="inputIntroduction">Name</label>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction" %>

<label for="inputFood">主食・おやつ</label>
<%= f.text_field :food, autofocus: true, id:"inputFood" %>

<label for="inputHobby">習性・すきなこと</label>
  <%= f.text_field :hobby, autofocus: true, id:"inputHobby" %>

<label for="inputTool">おすすめの飼育用品</label>
<%= f.text_field :tool, autofocus: true, id:"inputTool" %>

<label for="inputCaution">飼育で大変なこと</label>
<%= f.text_field :caution, autofocus: true, id:"inputCaution"  %>

<%= f.submit "編集を保存" %>

<% end %>

