<h4>投稿一覧</h4>
<div class="container">
 <div class="row">
  <h3>みんなの投稿</h3>
   <table class="table table-hover table-inverse table-sm">
    <tr>
     <th>タイトル</th>
     <th>ユーザー名</th>
     <th>コメント</th>
     <th>いいね</th>

    </tr>
    <% @posts.each do |post| %>
    <tr>
     <td>
      <%= link_to admin_post_path(post) do %>
      <%= post.title %>
      <% end %>
     </td>
     <td><%= post.user.owner_name %></td>
     <td><%= link_to "コメント#{post.comments.count}件", admin_post_path(post.id) %></td>
     <td>
      <%= "★#{post.favorites.count}" %>
     <td><%= link_to "削除", post_path(post), method: :delete %></td>
    <% end %>
   </table>
  </div>
 </div>

 <%= paginate @posts %>
