<div class="container">

   <h3>みんなの投稿</h3>
   <div>
   <h4>タグ一覧</h4>
   <% @tag_lists.each do |list| %>
   <%= link_to search_posts_path(tag_id: list.id) do %>
   <%= list.tag_name %>
   <%= "(#{list.posts.count})" %>
   <% end %>
   <% end %>
  </div>
<h4>投稿一覧</h4>
   <table class="table table-hover table-inverse table-sm">
    <tr>
     <th>タイトル</th>
     <th></th>
     <th>ユーザー名</th>
     <th>コメント</th>
     <th>いいね</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
     <td>
      <%= link_to admin_post_path(post) do %>
      <%= post.title %>
      <% end %>
     </td>
     <td><%= attachment_image_tag post, :image, :fill, 70, 70, format: 'jpeg' %>
      <% if post.video.attached? %>
       <video src="<%= rails_blob_path(post.video) %>"width="70" height="70"type="video/mp4" controls></video>
      <% end %>
      </td>
     <td>
      <%= link_to adminuser_path(post.user) do %>
      <%= attachment_image_tag post.user, :profile_image, :fill, 70,70, format: 'jpeg',fallback: "no_image.jpg" %><br>
      <% end %>
      <%= post.user.owner_name %>
     </td>
     <td><%= link_to "コメント#{post.comments.count}件", admin_post_path(post.id) %></td>
     <td>
      <%= "★#{post.favorites.count}" %>
     </td>

     <td>
      <%= link_to admin_post_path(post), method: :delete do %>
      <button class="btn btn-danger">削除</button>
      <% end %>
     </td>

    <% end %>
   </table>
  </div>
 </div>

 <%= paginate @posts %>
