<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h4>みんなのペット図鑑</h4>
<%= form_with url: search_admin_pets_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
     <button class="btn btn-secondary", type="submit">検索</button>
  <% end %>

<h5>投稿一覧</h5>
<table class="table table-hover table-inverse table-sm">
 <tr>
  <th></th>
  <th>ペットの種類</th>
  <th>最終更新日時</th>
  <th></th>
  <th></th>
 </tr>
 <% @pets.each do |pet| %>
 <tr>
  <td><%= attachment_image_tag pet, :pet_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
  <td>
   <%= link_to admin_pet_path(pet) do %>
   <%= pet.Animal_name %>
   <% end %>
  </td>
  <td><%= pet.updated_at.strftime('%Y/%m/%d') %></td>
  <td></td>
  <td>
   <%= link_to admin_pet_path(pet), method: :delete do %>
   <button class="btn btn-danger">削除</button>
   <% end %>
  </td>
 </tr>
 <% end %>
</table>
</div>
</div>
</div>