<div class="container">
 <div class="row">
  <h3>みんなの投稿</h3>

  <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit "検索" %>
  <% end %>

   <table class="table table-hover table-inverse table-sm">
    <tr>
     <th>タイトル</th>
     <th>画像</th>
     <th>ユーザー名</th>
     <th>コメント</th>
     <th>いいね</th>
     <th></th>

    </tr>
    <% @posts.each do |post| %>
    <tr>
     <td>
      <%= link_to post_path(post) do %>
      <%= post.title %>
      <% end %>
     </td>
     <td><%= attachment_image_tag post, :image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %></td>
     <td><%= post.user.owner_name %></td>
     <td><%= link_to "コメント#{post.comments.count}件", post_path(post.id) %></td>
     <td>
      <%= "★#{post.favorites.count}" %>
      <% if post.user == current_user %>
     <td><%= link_to "削除", post_path(post), method: :delete %></td>
     <% end %>
    <% end %>
   </table>
  </div>
 </div>

 <%= paginate @posts %>
