 <div class= "continer">
  <div class="row">
   <div class="col-4">
   <table class="table table-hover table-inverse">
    <ul>
    <% @tag_lists.each do |list| %>
      <li>
        <%= link_to search_posts_path(tag_id: list.id) do %>
          <%= list.tag_name %>
        <% end %>
      </li>
    <% end %>
    </ul>
    </table>
    </div>

 <div class="col-8">
  <h4>タグが"<%= @tag.tag_name %>"の投稿一覧</h4>
   <table class="table table-hover table-inverse table-sm">
    <tr>
     <th>ユーザ</th>
     <th>タイトル</th>
     <th></th>
    </tr>
   <% @posts.each do |post| %>
   <tr>
    <td>
     <%= attachment_image_tag post.user,:profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
     <%= link_to user_path(post.user) do %>
     <%= post.user.owner_name %>
     <% end %>
    </td>
    <td>
     <%= link_to post_path(post.id) do %>
     <%= post.title %>
     <% end %>
    </td>
    <td>
     <%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   　<% if @post.video.attached? %>
      <video src="<%= rails_blob_path(@post.video) %>"width="200" height="150"type="video/mp4" controls></video>
     <% end %>
    </td>
   </tr>
   <% end %>
  </table>
  </div>
  </div>
  </div>