 <div class= "continer mx-auto">
  <div class="row">
  <div class="col-3">
    <ul>
    <% @tag_lists.each do |list| %>
      <li>
        <%= link_to search_posts_path(tag_id: list.id) do %>
          <%= list.tag_name %>
        <% end %>
      </li>
    <% end %>
    </ul>
   </div>

 <div class="col-9">
  <h4>タグが<%= @tag.tag_name %>の投稿一覧</h4>
   <table>
    <tr>
     <th>タイトル</th>
     <th></th>
    </tr>
   <% @posts.each do |post| %>
   <tr>
    <td>
     <%= link_to post_path(post.id) do %>
     <%= post.title %>
     <% end %>
    </td>
    <td><%= attachment_image_tag @post, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
   </tr>
  </table>
  <% end %>
  </div>
  </div>
  </div>